@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-principal: rgb(232, 232, 232);
}


body {
    display: flex;
    margin: 0;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}

body > div {
    height: 100vh;
}


/************************Logo**********************/

.img-logo {
    background-image: url(img/leafs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30vw;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "norsebold";
    font-size: 4.5rem;
    padding: .8rem;
}

.logo img {
    height: 100px;
}


/*****************Information*********************/

.information {
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.information > * {
    padding-left: 4rem;
    padding-right: 13rem;
    flex-grow: 1;
}

/************INTRO*************/

.information > div {
    background-color: var(--bg-principal);
}

.intro {
    padding-top: 7rem;
}

.intro p {
    margin: 0;
    font-weight: 600;
    font-size: 1.2rem;
}

.intro p:first-child {
    padding-bottom: 2rem;
}

/***********FORM****************/

form > div {
    display: flex;
    justify-content: space-between;
}