@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-principal: rgb(232, 232, 232);
    --input-bg-color: rgb(253 251 251);
    --green: #596D48;
    --green-hover: #688252;
}


body {
    display: flex;
    margin: 0;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}

body > div {
    height: 100vh;
}


/************************Logo**********************/

.img-logo {
    background-image: url(img/leafs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30vw;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "norsebold";
    font-size: 4.5rem;
    padding: .8rem;
}

.logo img {
    height: 100px;
}


/*****************Information*********************/

.information {
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.information > * {
    padding-left: 4rem;
    padding-right: 13rem;
    flex-grow: 1;
}

/************INTRO*************/

.information > div {
    background-color: var(--bg-principal);
}

.intro {
    padding-top: 7rem;
}

.intro p {
    margin: 0;
    font-weight: 600;
    font-size: 1.2rem;
}

.intro p:first-child {
    padding-bottom: 2rem;
}

/***********FORM****************/

form > div {
    display: flex;
    gap: 10vw;
}

label {
    display: block;
}

input {
    margin-bottom: 1rem;
    border-radius: 4px;
    background-color: var(--input-bg-color);
    border: 1px solid #E5E7EB;
}

input:invalid {
    border-color: red;
}

input:focus {
    border-color: blue;
    outline: none;
}

label, h2 {
    color: var(--green);
}

label {
    font-size: .85rem;
    font-weight: 700;
    padding-bottom: .2rem;
}

/*******************FOOTER*********************/

button {
    background-color: var(--green);
    color: white;
    border: none;
    border-radius: 4px;
    padding: .7rem 2.1rem;
    margin-top: 2rem;
    box-shadow: 2px 2px 8px #888888;
    cursor: pointer;
    margin-bottom: 1rem;
}

button:hover {
    background-color: var(--green-hover);
}

a {
    font-weight: 600;
    text-decoration: none;
}